@import "/styles/mixins/colors.scss";

.container{
    padding: 20px;
    width: 100%;
    background-color: $purple-color;
    border-bottom: 0.5px solid $grey-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logotipo{
    color: white;
}
.menu{
    ul{
        display: flex;
        list-style-type: none;
        gap: 20px;

    a{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

    }

}

