@import "/styles/mixins/colors.scss";
@import "/styles/mixins/responsive.scss";


.container{
    padding: 20px 120px;
    width: 100%;
    background-color: $purple-color;
    border-bottom: .3px solid $grey-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include PhoneP{
        padding: 25px 30px;
    }
    @include Phone{
        padding: 20px 30px;
    }
    @include Tablet{
        padding: 20px 30px;

    }
}
.logotipo{
    color: white;
}
.menu{
    ul{
        display: flex;
        list-style-type: none;
        gap: 24px;

    a{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

    }
    @include PhoneP{
        display: none;
    }
    @include Phone{
        display: none;
    }

}
.action{
    @include PhoneP{
        display: none;
    }
    @include Phone{
        display: none;
    }
}

