@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/responsive.scss";
@import "../../styles/mixins/fonts.scss";


.input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;

    padding: 10px;
    margin-bottom: 15px;
    background-color: $fourthGray-color;
    @include Phone{
        height: 50px;
        font-size: 16px;
    }
    @include Tablet{
        font-size: 17px;
    }
}