@import "../../styles/mixins/colors.scss";
@import "../../styles/mixins/fonts.scss";
@import "../../styles/mixins/responsive.scss";

.container{
    margin-top: 120px;
    padding: 60px 130px 5px;
    background-color: $secondPurple-color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include PhoneP{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
    }
    @include Phone{
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 50px;
    }
    @include Tablet{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        padding: 30px 30px 5px;
    }
}

.column{
    .title{
        margin-bottom: 15px;
        font-size: 29px;
        color: $white-color;
        font-weight: bold;
    }
    h3{
        margin-bottom: 15px;
        font-size: 22px;
    }
    h1{
        margin-bottom: 15px;
        font-size: 23px;
        color: $secondGreen-color;
    }
    p{
        margin-bottom: 15px;
        font-size: 18px;
    }
    img{
        width: 30px;
        height: 30px;
        @include Phone{
            width: 40px;
            height: 40px;
        }
        
    }
    a{
        @include Phone{
            width: 0px;
            padding: 0;
            margin: 0;
        }
    }
    .containerIcons{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        @include PhoneP{
            padding: 15px;
        }
    }
}
.alignRight{
    text-align: end;
    @include PhoneP{
        text-align: left;
        padding-bottom: 15px;
    }
    @include Phone{
        text-align: left;
        padding-bottom: 15px;
    }
    @include Tablet{
     text-align: start;       
    }
}
.midFooter{
    padding-top: 40px;
    padding-left: 50px;
    @include PhoneP{
        padding: 0;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    @include Phone{
        padding: 0;
        padding-top: 10px;
    }
    @include Tablet{
            padding: 0;
    }
}

.allRightReserved{
    padding: 3rem  0 1rem;
    font-size: 15px;
    color: $grey-color;
    grid-column: span 4;
    text-align: center;
    @include Phone{
        grid-column: 1;
    }
    @include Tablet{
        grid-column: span 2;
    }

}